{:alias {"op" "open door"
         "gt" "gsay"
         "rd" "round drow"
         }
 :trigger [[
            #"You lose your footing and fall to your knees!"
            (fn [_]
              (>!! cmd-chan "st")
              (t/put-string term-output "\n  STANDING\n"))]]}
